body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 1.2rem;
    
    
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-container {
    background-color: #252525;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content {
    flex-basis: 940px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #886642;

    
    

}

.cover-image {
    min-height: 350px;
    min-width: 320px;

    width: 100%;
    background-image: url("./images/cover-image.jpg" );
    background-size:cover;
    background-repeat:no-repeat;

    filter: drop-shadow(0 3px 5px #252525);
    display: flex;

}

.header-card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #252525;
    filter: drop-shadow(0 3px 5px #252525);

    

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    width: 320px;
    height: 200px;
    
    
}

.header-border {
    border: 5px solid #eba75f ;
    width: 100%;
    height: 100%;

padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    border: 2px dotted #eba75f;
    width: 100%;
    height: 100%;

    color: #eba75f;

    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-container {
    padding: 10px 0;
    min-width: 320px;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 10px;

    flex-wrap: wrap;
    

    
    
}

.menu-item {
    
    flex-basis: 290px;
    border: 5px solid #252525;
    position: relative;
    text-align: center;

    box-shadow:0 3px 5px #252525;

    display: flex;
    justify-content: center;
    align-items: center;  

}

.menu-item:before

{
	content: "";
	display: block;
	padding-top: 100%; 	/* ratio of 1:1*/
}


.menu-item-1 {
    background-color: rgb(248, 132, 190);
    background-image: url("./images/souvlaki.webp");
    background-size: contain;
}

.menu-item-2 {
    background-color: rgb(91, 235, 115);
    background-image: url("./images/chicken-rice-porridge.jpg");
    background-size: contain;
}

.menu-item-3 {
    background-color: rgb(88, 140, 250);
    background-image: url("./images/kung-pao-chicken.webp");
    background-size: contain;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}



.menu-text {
    backdrop-filter: blur(10px);
    width: 100%;

}

.menu-text a{
    font-weight: 900;
    color: black;
    text-transform: uppercase;

    
    
}

.menu-text:hover {

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-container {
    /* border: 5px solid green; */
    background-color: #eba75f;
    
    
    width: 100%;
    height: 100px;
    margin-top: 20px;

    display: flex;
    align-items: center ; 
    justify-content: space-between;  

    filter: drop-shadow(0 3px 5px #252525);
    
    
}

.nav-container-border-social, .nav-container-border-next {

    width: 30%;
    height: 85%;
    margin: 0;
    border-top: 3px dotted #252525;
    border-bottom: 3px dotted #252525;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}


.nav-social {
    /* border: 2px solid yellow; */
            
}

.nav-social-text {
    font-size: small;
    width: 100%;
     
}

.nav-social-buttons {
    margin-top: 5px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
    
}

.nav-social-buttons img {
   width: 35px;   

}

.nav-social-buttons img:hover {
    filter: brightness(0.5);
}




.nav-next {
    /* border: 5px solid red; */
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    
   
}

.nav-next-text {
    /* border: 5px solid red; */

    width: 100%;
    text-align: center;
    text-shadow: 0 3px 5px  #252525;   
}

.nav-next-text:hover {
    /* border: 5px solid red; */
    font-size: larger;

}




.nav-header-card {
    background-color: #252525;
    
    margin: -20px 0px;

    padding:10px;

    width: 40%;
    min-width: 200px;
    
    height: 120px;

    display: flex;

    justify-content: center;
    filter: drop-shadow(0 3px 5px #252525);
}

.nav-header-border {
    border: 3px solid #eba75f ;
    width: 100%;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header-text {
    border: 3px dotted #eba75f;
    width: 100%;
    height: 100%;
    color: #eba75f;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.nav-header-text a {
    color: #eba75f;
    text-decoration: none;
}

.nav-header-text:hover {
    opacity: 0.5;
}





.recipe-content {
    flex-basis: 100%;
    background-color: #886642;
    margin-top: 30px;
    
}

.recipe-background-souvlaki {
    background-color: #bea283;
    padding-bottom: 10px;
    background: linear-gradient(rgba(83, 59, 33, 0.7), rgba(83, 59, 33, 0.7)), url("./images/souvlaki.webp");       
}

.recipe-background-chicken-rice-porridge {
    background-color: #bea283;
    padding-bottom: 10px;
    background: linear-gradient(rgba(83, 59, 33, 0.7), rgba(83, 59, 33, 0.7)), url("./images/chicken-rice-porridge.jpg"); 
}

.recipe-background-kung-pao-chicken {
    background-color: #bea283;
    padding-bottom: 10px;
    background: linear-gradient(rgba(83, 59, 33, 0.7), rgba(83, 59, 33, 0.7)), url("./images/kung-pao-chicken.webp"); 
}

.recipe-header {
    /* border: 5px solid grey; */
    
    background-color: rgb(26, 26, 26);
    
    color: #eba75f;
    font-size: medium;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 5px 40px;

    
    
    
}

.recipe-image {
    margin: 10px 40px;
    
    display: flex;
    
    
}


.share-links {  
    
    margin: 10px 40px 0;
    
    width: fit-content;
   

    display: flex;    
    justify-items: center;
    gap: 10px;


    font-size: medium;
       

}


.share-links img {
    width: 35px;
}


.share-fb img:hover, .share-pinterest img:hover {
    filter: brightness(0.5);
}

.share-print img:hover, .share-email img:hover {
    opacity: 50%;
    }




.share-print, .share-email {
    width: 35px;
    height: 35px;
    background-color: #886642;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.share-email img, .share-print img {
    width: 25px;
}

.share-fb {
    
}

.share-pinterest {
    
}






.recipe-text {
    padding: 20px;
    margin: 0 20px;
       
}

.recipe-text p {
    
    margin-top: 10px;
       
}

.recipe-text h2 {
    
    margin-top: 10px;
    font-size: large;
       
}

.recipe-text ul, ol {
    
    margin-left: 50px;
       
}








.footer {
    background-color: hwb(0 15% 85% / 0.6);
    color: #eba75f;
    width: 100%;

    text-align: center;
    font-size: small;
    

    max-height: 150px;
    min-width: 320px;
    padding: 10px 0;
}

.footer-1 {


}

.footer-2 {

}



