body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 1.2rem;
    
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: #252525;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content {
    flex-basis: 940px;
    display: flex;
    flex-direction: column; 
    background-color: #eba75f;

}

.cover-image {
    min-height: 350px;
    min-width: 320px;
    background-image: url("./images/cover-image.jpg" );
    background-size:cover;
    background-repeat:no-repeat;

    filter: drop-shadow(0 3px 5px #252525);


    display: flex;
}

.header-card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #252525;
    filter: drop-shadow(0 3px 5px #252525);

    

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    width: 320px;
    height: 200px;
    
    
}

.header-border {
    border: 5px solid #eba75f ;
    width: 310px;
    height: 190px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    border: 2px dotted #eba75f;
    width: 290px;
    height: 170px;

    color: #eba75f;

    display: flex;
    justify-content: center;
    align-items: center;
}





.menu-container {
    padding: 10px 0;
    min-width: 320px;


    display: flex;
    justify-content: center;
    gap: 10px;

    flex-wrap: wrap;
    flex-flow: row wrap;
    flex: auto;

    
    
}

.menu-item {
    
    flex-basis: 290px;
    border: 5px solid #252525;
    position: relative;
    text-align: center;

    box-shadow:0 3px 5px #252525;

    display: flex;
    justify-content: center;
    align-items: center;


    

}

.menu-item:before

{
	content: "";
	display: block;
	padding-top: 100%; 	/* ratio of 1:1*/
}


.menu-item-1 {
    background-color: rgb(248, 132, 190);
    background-image: url("./images/souvlaki.webp");
    background-size: contain;
}

.menu-item-2 {
    background-color: rgb(91, 235, 115);
    background-image: url("./images/chicken-rice-porridge.jpg");
    background-size: contain;
}

.menu-item-3 {
    background-color: rgb(88, 140, 250);
    background-image: url("./images/kung-pao-chicken.webp");
    background-size: contain;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}



.menu-text {
    backdrop-filter: blur(10px);
    width: 100%;

}

.menu-text a{

    font-weight: 900;
    color: black;
    text-transform: uppercase;

    
    
}

.menu-text:hover {

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.footer {
    background-color: hwb(0 15% 85% / 0.6);
    color: #eba75f;
    

    text-align: center;
    font-size: small;
    

    max-height: 150px;
    min-width: 320px;
    padding: 10px 0;
}

.footer-1 {


}

.footer-2 {

}





/*.header {
    background-color: #61b3ff;
    height: 4lh;  
    margin-left: auto;
    margin-right: auto;
   }

#cover-image {
    margin-bottom: -4px;
}

.header-recipe1 {
    background-color: rgb(36, 121, 2);
    height: 4lh;  
    margin-left: auto;
    margin-right: auto;
}

.header-recipe2 {
    background-color: rgb(190, 162, 1);
    height: 6lh;  
    margin-left: auto;
    margin-right: auto;
}

.header-recipe3 {
    background-color: rgb(0, 144, 201);
    height: 4lh;  
    margin-left: auto;
    margin-right: auto;
}



h1 {
    font-weight: 900;
    font-style: normal;
    text-align:center;
    padding-top: 20px;
    
}

.container1 {
    width: 80%;
    background-color: rgb(41, 41, 41);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    border: 0;
    
}

.container2 {
    width: 80%;
    background-color: rgb(145, 145, 145);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recipe-image{
    padding-top: 25px;
}


a {
    text-decoration: none;
}
a:link {
    color: #0e005a;
    
}

a:visited {
    color: #0d0144;
}

a:hover {
    color:black;
    text-shadow: #FC0 1px 0 10px;
}

a:active {
    color: rgb(0, 0, 0);
}


table {
    width: 100%;
    margin: 0;
    border: 0;
    border-collapse: collapse;
}

td {
    width: 30%;
    height: 3lh;
    vertical-align: middle;
    text-align: center;
    padding: 0;
     
}

td a {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    
}

td a:link {
    color: #e92f2f;
    
}

td a:visited {
    color: #e92f2f;
    
}

td a:hover {
    color: #000;
}

td a:active {
    color: black;
}





.icons {
    width: 100%;
    height: auto;
    
    
}

.text {
    padding: 25px;
    text-align: left;
}

#home-link {
    text-align:center; 
}


footer {
    text-align:center; 
    font-size: medium;
}*/